@model e_auction.Models.LoginMaster

@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@using (Html.BeginForm())
{
    @*<script src="~/Content/js/jquery-1.8.2.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
<script src="~/Content/js/jquery-ui.min.js"></script>
    <script src="~/Content/js/jquery.plugin.js"></script>
    
    @Html.AntiForgeryToken()

    <div class="form-validate">
        @Html.ValidationSummary()
        <h2>Forget Password</h2>
        <div class="control-group">
            <div class="span4">
                <label>Client ID</label>
            </div>
            <div class="span8">
                @Html.EditorFor(m => m.ClientId, new { @placeholder = "Please Insert Client ID" })
                @Html.ValidationMessageFor(model => model.ClientId)
            </div>
        </div>
        <div class="control-group">
            <div class="span4">
                <label>Email ID</label>
            </div>
            <div class="span8">
                <input id="email" name="email" placeholder="Email ID" type="email" required="required" class="email" role="textbox" />
            </div>
        </div>
        
        <div class="submit" style="padding-bottom:10px;" >
            <input type="submit" class="btn btn-primary Reset" name="Reset" value="Reset" id="Reset">
        </div>

    </div>


}