#wrapper {
    margin-top:0px !important;
    margin-bottom:0px !important;
    margin-right:0px !important;
    margin-left:0px !important;
    top:0px !important;
    left:300px;
    bottom:0px !important;
    width:800px !important;

}

#login-body{
    margin-top:0px;
}
.login{
    background:#204e81 !important;
}

#submit{
    margin-bottom:3px !important;
}

#pterms p{
font-size:12px;
line-height:18px;
}

#dashboard>li
{
    margin-left:0px;
    width:33.2%;
}


#AddMinutes
{
    margin-bottom:0px;
}

#Price
{
    margin-bottom:0px;
}
#Unit
{
    margin-bottom:0px;
}


#inputtextbid{
    margin-bottom:0px;
}